{% extends "home.html" %}

    {% block content %}
<!-- Main Content -->
<div class="container mx-auto p-6">
    <div class="max-w-xl mx-auto">
        <!-- Form to send new post to the server -->
        <form id="post-form" action="/add-post" method="post" class="mb-6 text-black">
            <input name="user" class="h-8 px-2 border border-gray-300 rounded-lg mb-2" placeholder="write as..." />
            <textarea
                autofocus
                name="content"
                form="post-form"
                spellcheck="true"
                placeholder="what's on your mind?"
                onkeydown="handleCtrlEnterSubmit(event)"
                class="w-full p-2 border border-gray-300 rounded-lg mb-2 text-gray"
            ></textarea>

            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">post</button>
        </form>

        <!-- Posts -->
        <ul id="post-list" class="list-disc list-inside space-y-4 text-black">
            {% for post in posts %}
            <!-- Single post as list item -->
            <li id="post-{{ post.id }}" class="bg-white p-4 border border-gray-200 rounded-lg list-none">
                <form id="update" action="/update-post/{{ post.id }}" method="post" >
                    <p name="user">{{ post.user }}</p>
                    <p
                        name="content"
                        spellcheck="true"
                        contenteditable="true"
                        class="w-full rounded-lg mb-2"
                        placeholder="content goes here...">
                        {{ post.content }}
                    </p>
                    <div class="flex">
                        <div class="px-2">
                            <button
                                form="update"
                                type="submit"
                                class="bg-blue-500 px-2 text-white rounded">
                                update
                            </button>
                        </div>
                        <div class="px-2">
                            <button
                                form="delete"
                                type="submit"
                                class="bg-red-500 px-2 text-white rounded">
                                delete
                            </button>
                        </div>
                    </div>
                </form>
                <form id="delete" action="/delete-post/{{ post.id }}" method="post" />
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
var textArea = document.querySelector('textarea');

textArea.onfocus = function () {
    'use strict';
    if (textArea.getAttribute('placeholder') === "what's on your mind?") {
        textArea.setAttribute('placeholder', '');
    }
};

textArea.onblur = function () {
    'use strict';
    if (textArea.getAttribute('placeholder') === '') {
        textArea.setAttribute('placeholder', "what's on your mind?");
    }
};

function handleCtrlEnterSubmit(event) {
    if (event.ctrlKey && event.key === 'Enter') {
        event.target.form.submit();
    }
}

// TODO: find excuse to integrate nats
//// just a simple script for nats fetch
//import { connect } from "https://deno.land/x/nats@v1.16.0/src/mod.ts";
//
//const servers = Deno.env.get("NATS_URL") || "nats://localhost:4222";
//const nc = await connect({
//servers: servers.split(","),
//});
//
//const sub_cfg = {callback: |(err, msg)| => {
//    if (err) {
//      console.log(err.message);
//    } else {
//      console.log(msg.data.string());
//}
//  },
//max: 5,
//};
//let sub = nc.subscribe("posts*", sub_cfg);

</script>
{% endblock content %}
